.home-section{
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}
.title-section{
    padding: 0 20px;
}
.title-1{
    font-size: 3em;
}
.title-2{
    font-size: 1.5em;
    color: brown;
}
.img-section img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}