.home-section{
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}
.title-section{
    padding: 0 20px;
}
.title-1{
    font-size: 3em;
}
.title-2{
    font-size: 1.5em;
    color: brown;
}
.img-section img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-right: 20px;
}

.customer-title{
    text-align: center;
}

.products-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
   
}

.btn{
    display: flex;
    justify-content: center;
    margin:  50px 0;
    
}

.review-btn{
    border: none;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 20px;
    font-weight: 600;
}